main {
  min-height: 80vh;
}

/* Background cream color */
body {
  background-color: #ece0d1 !important;
  overflow-y: scroll;
}

/* ************************************ */

.cont-width {
  width: 70% !important;
  max-width: 750px !important;
  margin: 0 auto;
}
@media (max-width: 720px) {
  .cont-width {
    width: 95% !important;
  }
}
