main {
  min-height: 80vh;
}

/* Background cream color */
body {
  background-color: #ece0d1 !important;
  overflow-y: scroll;
}

/* ************************************ */

.cont-width {
  width: 70% !important;
  max-width: 750px !important;
  margin: 0 auto;
}
@media (max-width: 720px) {
  .cont-width {
    width: 95% !important;
  }
}

.form-cntr {
  padding: 2rem !important;
  border-radius: 1.1rem;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
